h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 15px 5px 25px 5px;
}
h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 15px 5px 15px 5px;
}